<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<Title> Belajar Vue Scratch </Title>
</Head>
<Body>
	<p>Hallo Saya Vue</p>
	<div id="app">
		<p v-if="items.length === 0">Items Empty</p>
		<ul>
			<li v-for="item in items">{{item.name}} <a href="#" v-on:click="removeItem(item)">remove</a></li>
		</ul>
		{{item}} </br>
		<input type="text" v-model="item">
		<input type="button" value="add item" v-on:click="addItem">
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				items: ['Belajar Vue menggunakan CDN', 'Belajar membuat Api sederhana dengan Rails'],
				item: ''
			},
			methods: {
				addItem(){
					this.items.push(this.item)
					localStorage.setItem('items', JSON.stringify(this.items))
					this.item = ''
				},
				removeItem(item){
					const index = this.items.indexOf(item)
					this.items.splice(index, 1)
					localStorage.setItem('items', JSON.stringify(this.items))
				}
			},
			// will run when instance first created
			created(){
				axios.get('http://localhost:3000/items').then(response => {
					console.log(response.data)
					this.items = response.data
				})
				// this.items = JSON.parse(localStorage.getItem('items')) || []
			}
		})
	</script>
</Body>
</html>

